doctype html
html(lang="en")
  head
    title= HackBop
    link(rel='stylesheet' href='/static/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')

  body
    div(class='container')
      div(class='info')
        a(href='https://github.com/roebuk/harmony') Harmony
        span by
        a(href='https://twitter.com/roebuk') @roebuk

    script(src='/static/howler.js')
    script(src='/socket.io/socket.io.js')
    script(src='/static/app.js')